SPVN.App/Service References/PermisoServiceReference/PermisoService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:52878/Services/PermisoService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:52878/Services/PermisoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52878/Services/PermisoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SPVN.App.Web" />
      <xsd:import schemaLocation="http://localhost:52878/Services/PermisoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:52878/Services/PermisoService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PermisoService_SeleccionarTodosPermiso_InputMessage">
    <wsdl:part name="parameters" element="SeleccionarTodosPermiso" />
  </wsdl:message>
  <wsdl:message name="PermisoService_SeleccionarTodosPermiso_OutputMessage">
    <wsdl:part name="parameters" element="SeleccionarTodosPermisoResponse" />
  </wsdl:message>
  <wsdl:message name="PermisoService_RegistrarPermiso_InputMessage">
    <wsdl:part name="parameters" element="RegistrarPermiso" />
  </wsdl:message>
  <wsdl:message name="PermisoService_RegistrarPermiso_OutputMessage">
    <wsdl:part name="parameters" element="RegistrarPermisoResponse" />
  </wsdl:message>
  <wsdl:message name="PermisoService_ActualizarPermiso_InputMessage">
    <wsdl:part name="parameters" element="ActualizarPermiso" />
  </wsdl:message>
  <wsdl:message name="PermisoService_ActualizarPermiso_OutputMessage">
    <wsdl:part name="parameters" element="ActualizarPermisoResponse" />
  </wsdl:message>
  <wsdl:message name="PermisoService_SeleccionarTodosPerfil_InputMessage">
    <wsdl:part name="parameters" element="SeleccionarTodosPerfil" />
  </wsdl:message>
  <wsdl:message name="PermisoService_SeleccionarTodosPerfil_OutputMessage">
    <wsdl:part name="parameters" element="SeleccionarTodosPerfilResponse" />
  </wsdl:message>
  <wsdl:message name="PermisoService_RegistrarPerfil_InputMessage">
    <wsdl:part name="parameters" element="RegistrarPerfil" />
  </wsdl:message>
  <wsdl:message name="PermisoService_RegistrarPerfil_OutputMessage">
    <wsdl:part name="parameters" element="RegistrarPerfilResponse" />
  </wsdl:message>
  <wsdl:message name="PermisoService_ActualizarPerfil_InputMessage">
    <wsdl:part name="parameters" element="ActualizarPerfil" />
  </wsdl:message>
  <wsdl:message name="PermisoService_ActualizarPerfil_OutputMessage">
    <wsdl:part name="parameters" element="ActualizarPerfilResponse" />
  </wsdl:message>
  <wsdl:portType name="PermisoService">
    <wsdl:operation name="SeleccionarTodosPermiso">
      <wsdl:input wsaw:Action="urn:PermisoService/SeleccionarTodosPermiso" message="PermisoService_SeleccionarTodosPermiso_InputMessage" />
      <wsdl:output wsaw:Action="urn:PermisoService/SeleccionarTodosPermisoResponse" message="PermisoService_SeleccionarTodosPermiso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarPermiso">
      <wsdl:input wsaw:Action="urn:PermisoService/RegistrarPermiso" message="PermisoService_RegistrarPermiso_InputMessage" />
      <wsdl:output wsaw:Action="urn:PermisoService/RegistrarPermisoResponse" message="PermisoService_RegistrarPermiso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarPermiso">
      <wsdl:input wsaw:Action="urn:PermisoService/ActualizarPermiso" message="PermisoService_ActualizarPermiso_InputMessage" />
      <wsdl:output wsaw:Action="urn:PermisoService/ActualizarPermisoResponse" message="PermisoService_ActualizarPermiso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SeleccionarTodosPerfil">
      <wsdl:input wsaw:Action="urn:PermisoService/SeleccionarTodosPerfil" message="PermisoService_SeleccionarTodosPerfil_InputMessage" />
      <wsdl:output wsaw:Action="urn:PermisoService/SeleccionarTodosPerfilResponse" message="PermisoService_SeleccionarTodosPerfil_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarPerfil">
      <wsdl:input wsaw:Action="urn:PermisoService/RegistrarPerfil" message="PermisoService_RegistrarPerfil_InputMessage" />
      <wsdl:output wsaw:Action="urn:PermisoService/RegistrarPerfilResponse" message="PermisoService_RegistrarPerfil_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarPerfil">
      <wsdl:input wsaw:Action="urn:PermisoService/ActualizarPerfil" message="PermisoService_ActualizarPerfil_InputMessage" />
      <wsdl:output wsaw:Action="urn:PermisoService/ActualizarPerfilResponse" message="PermisoService_ActualizarPerfil_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>