SPVN.ViewModel/Service References/SPVNServices/SPVNServices3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52878/Services/SPVNServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SPVN.App.Web" />
  <xs:element name="SeleccionarTodosPermiso">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SeleccionarTodosPermisoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SPVN.App.Web" minOccurs="0" name="SeleccionarTodosPermisoResult" nillable="true" type="q1:ArrayOfT_Permiso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarPermiso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SPVN.App.Web" minOccurs="0" name="_permiso" nillable="true" type="q2:T_Permiso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarPermisoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarPermisoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarPermiso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SPVN.App.Web" minOccurs="0" name="_permiso" nillable="true" type="q3:T_Permiso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarPermisoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarPermisoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SeleccionarTodosPerfil">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SeleccionarTodosPerfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SPVN.App.Web" minOccurs="0" name="SeleccionarTodosPerfilResult" nillable="true" type="q4:ArrayOfT_Perfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarPerfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SPVN.App.Web" minOccurs="0" name="_perfil" nillable="true" type="q5:T_Perfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarPerfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarPerfilResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarPerfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SPVN.App.Web" minOccurs="0" name="_perfil" nillable="true" type="q6:T_Perfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarPerfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarPerfilResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPerfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SPVN.App.Web" minOccurs="0" name="_perfil" nillable="true" type="q7:T_Perfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPerfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarPerfilResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SeleccionarTodosProductos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SeleccionarTodosProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SPVN.App.Web" minOccurs="0" name="SeleccionarTodosProductosResult" nillable="true" type="q8:ArrayOfT_Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SPVN.App.Web" minOccurs="0" name="producto" nillable="true" type="q9:T_Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarProductoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SPVN.App.Web" minOccurs="0" name="producto" nillable="true" type="q10:T_Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarProductoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SPVN.App.Web" minOccurs="0" name="producto" nillable="true" type="q11:T_Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarProductoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SeleccionarTodasCategorias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SeleccionarTodasCategoriasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SPVN.App.Web" minOccurs="0" name="SeleccionarTodasCategoriasResult" nillable="true" type="q12:ArrayOfT_Categoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>