SPVN.App/SampleData/HomeDataSource/HomeDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.HomeDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.HomeDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="About" type="tns:About" />
  <xs:complexType name="About">
    <xs:sequence>
      <xs:element name="AboutItemCollection" type="tns:AboutItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AboutItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="AboutItem" type="tns:AboutItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AboutItem">
    <xs:attribute name="Image" type="xs:string" />
    <xs:attribute name="Header" type="xs:string" />
    <xs:attribute name="Content" type="xs:string" />
    <xs:attribute name="Area" type="xs:string" />
  </xs:complexType>
</xs:schema>